.header__lang-link {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  opacity: 1s;
}

.header__lang-link:hover {
  opacity: .7;
}


@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }

}
