.page {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  min-height: 6875px;
  box-sizing: content-box;
  background: #2a2c2f;
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  margin: 0 auto;
  /* border: 1px solid red; */
}
