.place__container {
  display: flex;
  flex-direction: column;
  /* max-width: 484px; */
  width: 100%;
  gap: 26px
}

@media screen and (max-width: 1024px) {
  .place__container {
    /* max-width: 456px; */
    gap: 27px;
  }
}

@media screen and (max-width: 768px) {
  .place__container {
    /* max-width: 352px; */
    gap: 25px;
    /* padding-top: 32px; */
  }
}


/* @media screen and (max-width: 320px) {
  .place__container {
    /* width: 100%; 


  }
} */
