.page {
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: 6875px;
  box-sizing: content-box;
  background: #2a2c2f;
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  margin: auto;
  /* border: 1px solid red; */
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 48px 28px 48px;
}

.header__logo {
  min-width: 176px;
  min-height: 52px;
}

.header__lang-links {
  min-height: 28px;
  align-self: flex-end;
}

.header__lang-link_active {
  min-width: 30px;
  min-height: 28px;
  margin-top: 46px;
  text-decoration-line: underline;
  text-align: right;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  /* border: 1px solid red; */
}

.header__lang-link {
  width: 29px;
  height: 28px;
  text-decoration: none;
  margin-left: 18px;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  /* border: 1px solid red; */
}

.lead {
  display: flex;
  flex-direction: column;
  margin-left: 148px;
  margin-right: 148px;
  margin-top: 0;
  min-width: 984px;
  min-height: 1005px;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.lead__title {
  min-width: 720px;
  min-height: 200px;
  margin-top: 0;
  margin-left: 132px;
  margin-right: 132px;
  margin-bottom: 32px;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  /* border: 1px solid red; */
}

.lead__subtitle {
  min-height: 72px;
  min-width: 640px;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: 400;
  margin-right: 172px;
  margin-left: 172px;
  margin-top: 0;
  margin-bottom: 64px;
  padding-bottom: 0;
  /* border: 1px solid red; */
}

.lead__image {
  position: relative;
  width: 100%;
  margin-bottom: 0;
  /* border: 1px solid red; */
}

.lead__caption {
  min-width: 158px;
  min-height: 14px;
  margin-top: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
  /* border: 1px solid red; */
}

.intro {
  display: flex;
  flex-direction: column;
  min-width: 690px;
  min-height: 429px;
  margin-top: 92px;
  margin-right: 442px;
  margin-left: 148px;
  margin-bottom: 92px;
  /* border: 1px solid red; */
}

.intro__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #fff;
  /* border: 1px solid red; */
}

.intro__text {
  min-width: 690px;
  max-height: 208px;
  margin-top: 0;
  margin-bottom: 33px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  border-radius: nullpx;

  color: #fff;
  /* border: 1px solid red; */
}

.intro__ul {
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 90px;
  min-width: 690px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  font-style: normal;
}

.intro__list {
  list-style-type: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: auto;
  box-sizing: border-box;
  max-width: 1184px;
  margin: 0;
  margin-right: 48px;
  padding-left: 0;
  margin-left: 48px;
  gap: 16px;
}

.photo-grid__item {
  max-width: 284px;
  max-height: 213px;
}

.places {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(984px, 1fr));
  grid-template-rows: repeat(1fr);
  gap: 80px;
  margin: 0;
  padding: 98px 148px 0;
  /* grid-area:auto;
  grid-column-start:calc(5) */
  border: 1px solid red;
}

.place {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 40px;
  row-gap: 48px;
}

.place__title {
  max-width: 460px;
  /* grid-area: places__title; */
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.place__website {
  max-width: 456px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.place__url-heading {
  margin: 0;
  color: #aaa;
  padding-bottom: 12px;
  /* grid-area: places__url; */
}

.place__link {
  text-decoration-line: underline;
  color: #fff;
}
.place__image{
    max-width: 460px;
    width: 100%;
}

.place__container{
  max-width: 484px;
}

.place__paragraph{
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%; 
}

.place__paragraph:not(:last-child){
    margin-bottom: 26px;
}













/* .places {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    font-style: normal;
    gap: 80px;
    padding: 0 100px;
}

.places__title {
    max-width: 460px;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    margin: 0;
    padding: 0;
    grid-area: places__title;
}

.places__url {
    margin: 0;
    font-size: 12px;
    max-height: 100%;
    letter-spacing: 2px;
    color: #aaa;
    grid-area: places__url;
}

.places__text {
    display: grid;
    gap: 27px;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    margin: 0;
    padding: 0;
    grid-area: places__text;
}

.places__image {
    width: 100%;
    grid-area: places__image;
    margin: 0 auto;
    padding: 0;
}

.places__paragraph {
    margin: 0;
    padding: 0;
} */

/* .cover {
    position: relative;
    margin: 12px 48px 0;
}

.cover__title {}

.cover__overley {
    background-image: url(image/__background.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    padding-top: calc(740 / 1184 * 100%);
}

.cover__overley:hover {
    opacity: 0.3;
} */
