.lead {
  display: flex;
  flex-direction: column;
  /* justify-content: column; */
  align-items: center;
  max-width: 984px;
  margin: 0 auto;
  /* margin-top: 0;
  margin-right: 148px;
  margin-left: 148px; */
  /* padding-top: 56px; */
  box-sizing: border-box;
  /* border: 1px solid red; */
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;

  }
}


@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    margin-left: 0;
    margin-right: 0;
  }
}


@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
    /* max-height: 406px; */
    /* margin-left: 2px; */
  }
}
