.photo-grid__item {
  /* max-width: 284px;
  min-height: 213px; */
  width: 100%;
  object-fit: cover;
  list-style-type: none;
  /* border: 1px solid red; */
}


/* @media screen and (max-width: 1024px) {
  .photo-grid__item {
     max-width: 300px;
     min-height: 225px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid__item {
    max-width: 352px;
     min-height: 264px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid__item {
    max-width: 288px;
    min-height: 216px;
  }
} */
