.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 28px auto 56px;
  /* margin: 28px 48px 56px; */
  /* margin-top: 28px;
  margin-bottom: 56px; */
  /* border: 1px solid red; */
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    margin: 28px 24px 48px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    margin: 16px 16px 48px;

  }
}
