.lead__title {
  max-width: 720px;
  /* padding-left: 132px;
  padding-right: 132px; */
  margin: 0 auto;
  margin-bottom: 32px;
  text-align: center;
  align-content: center;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  /* border: 1px solid red; */
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin: 0 104px 0;
  }
}

/* @media screen and (max-width: 768px) {
  .lead__title {
    /* margin-left: 24px;
    margin-right: 24px;
  }
} */

@media screen and (max-width: 709px) {
  .lead__title {
    font-size: 76px;
    line-height: 80px;
  }
}

@media screen and (max-width: 600px) {
  .lead__title {
    font-size: 66px;
    line-height: 65px;
  }
}

@media screen and (max-width: 480px) {
  .lead__title {
    font-size: 45px;
    line-height: 55px;
  }
}

@media screen and (max-width: 350px) {
  .lead__title {
    max-width: 288px;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 16px;
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (max-width: 310px) {
  .lead__title {
    max-width: 280px;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 16px;
    font-size: 36px;
    line-height: 40px;
  }
}
