.footer__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: normal;
  gap: 18px;
  list-style-type: none;
  align-self: end;
  margin: 0;
  padding: 0;
  color: #fff;
}

@media screen and (max-width: 711px) {
  .footer__links {
    column-gap: 10px;
  }
}

@media screen and (max-width: 425px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
  }
}
