.place__paragraph {
  padding-top: 0;
  /* padding-bottom: 25px; */
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;

}

.place__paragraph:not(:last-child) {
  padding-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 355px) {
  .place__paragraph {
    margin-left: 16px;
    margin-right: 16px;
  }
}
