.footer__copyright {
  min-width: 186px;
  padding-top: 2px;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: right;
  margin: 0;
}


@media screen and (max-width: 425px) {
  .footer__copyright {
    width: 186px;
    /* height: 14px; */
    padding: 0;
    padding-top: 48px;
    line-height: 14px;
    text-align: left;
  }
}
