.lead__image {
  background-image: url("../../../images/lead-polka.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  /* max-width: 984px;
  padding-bottom: 0; */
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
  }
}

/* @media screen and (max-width: 768px) {
  .lead__image {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    max-width: 320px;
  }
} */
