.lead__image {
  position: relative;
  max-width: 984px;
  padding-bottom: 0;
  /* border: 1px solid red; */
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
    padding: 0; 
  }
} 

@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 768px;
    padding: 0;
  }
} 

@media screen and (max-width: 320px) {
  .lead__image {
    max-width: 320px;
    min-height: 0;
    
  }
} 