.intro {
  display: flex;
  flex-direction: column;
  max-width: 690px;
  margin: 0;
  padding-top: 92px;
  padding-left: 148px;
  padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-right: 286px;
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    padding: 64px 16px 64px;
  }
}
