.lead__subtitle {
  max-width: 640px;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  align-content: center;
  margin: 0 auto 64px;
  /* padding-bottom: 0; */
  /* border: 1px solid red; */
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 32px 144px 56px;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    font-size: 20px;
    line-height: 25px;
  }
}


@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
    margin: 0;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
