.cover {
    min-height: 740px;
    max-width: 1184px;
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 92px;
}

@media screen and (max-width: 1150px) {
    .cover {
        max-width: 100%;
        min-height: 640px;
        margin-left:  0;
        margin-right: 0;
    }
}

@media screen and (max-width: 800px) {
    .cover {
        min-height: 480px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 600px) {
    .cover {
        min-height: 200px;
        margin-bottom: 64px;
    }
    
}