.cover {
  min-height: 740px;
  max-width: 1184px;
  padding-top: 92px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
    min-height: 640px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
    padding-top: 90px;
    padding-bottom: 88px;
    padding-right: 0;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
    padding-top: 66px;
    padding-bottom: 64px;
  }
}
