.place__link {
  text-decoration-line: underline;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  opacity: 1s;
}

.place__link:hover {
  opacity: .8;
}

@media screen and (max-width: 355px) {
  .place__link {
    padding-left: 16px;
    padding-right: 16px;
  }
}
