.cover__title {
  max-width: 560px;
  text-decoration: none;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  font-style: normal;
  color: #fff;
  position: relative;
  text-align: center;
  padding-top: 0;
  padding-bottom: 32px;
  margin: 0 auto;
  z-index: 1;

}

@media screen and (max-width: 690px) {
  .cover__title {
    font-size: 45px;
    line-height: 60px;
  }

}

@media screen and (max-width: 355px) {
  .cover__title {
    max-width: 288px;
    padding-bottom: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
