.footer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1184px;
  padding: 92px 48px 24px;
  justify-content: space-between;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
	.footer {
    max-width: 720px;
		padding: 88px 24px 24px;
		/* gap: 48px; */
	}
}


@media screen and (max-width: 425px) {
  .footer {
    display: block;
    max-width: 186px;
    min-height: 310px;
    padding: 64px 16px 24px;
  }
}
/*
@media screen and (max-width: 320px) {
  .footer {
    max-width: 186px;
    min-height: 310px;
    padding: 64px 16px 24px;
  }
} */
