.footer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1184px;
  padding: 92px 48px 24px;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    height: 18px;
    padding: 88px 24px 24px;
    /* gap: 18px; */
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 186px;
    min-height: 310px;
    padding: 64px 16px 24px;
  }
}
