.footer {
  display: flex;
  max-width: 1184px;
  padding: 0 48px 24px;
  justify-content: space-between;
}

/* @media screen and (max-width: 900px) {
    .footer {
        min-width: 720px;
        margin-left: 24px;
        margin-right: 24px;
        flex-wrap: wrap;
    }
  }
  
  @media screen and (max-width: 763px) {
    .footer {
        min-height: 50px;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .footer {
        min-height: 310px;
        min-width: 320px;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
    }
  } */

@media screen and (max-width: 1024px) {
  .footer {
    min-width: 720px;
    padding-left: 24px;
    padding-right: 24px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    min-width: 320px;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    min-width: 288px;
  }
}
