.place__url-heading {
  margin: 0;
  color: #aaa;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 12px;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
}


@media screen and (max-width: 355px) {
  .place__url-heading {
    padding-left: 16px;
    padding-right: 16px;
  }
}
